<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Dashboard</title>
</head>
<body class="container">
    <nav class="navbar navbar-expand-xl navbar-expand-xl">
        <div class="container-fluid">
            <img class="pawprint" src="static/pngwing.com.png">
            <a class="navbar-brand logo" href="/dashboard">PetPals</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link active indiefont" aria-current="page" href="/dashboard">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link indiefont" href="/profile">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link indiefont" href="/friends">Friends</a>
            </li>
            <li class="nav-item">
                <a class="nav-link indiefont" href="/event-list">Events</a>
            </li>
            <li class="nav-item">
                <a class="nav-link indiefont" href="/logout">Logout</a>
            </li>
            </ul>
        </div>
        </div>
    </nav>
    <div>
        <img src="" alt="">
        <form action="/create_new_status" method="post">
            <div class="form-group">
                <textarea type="text" name="status" class="form-control" placeholder="Say something..."></textarea>
                <!-- do we need datetime recorded in db 'statuses' table, it has created/updated_at already? -->
                <input type="hidden" name="user_id" value="{{user.id}}">
                <button type="submit">Post</button>
            </div>
        </form>
        <p>OR</p>
        <a href="/new-event">Create an Event</a>
    </div>
    <div>
        <h3>Statuses and Events Feed</h3>
        <img src="/avatar_img.jpeg" alt="">
        {% for status in statuses %}
        <p>{{status.status}}</p>
        <p>{{user.first_name}} {{user.last_name}} says...</p>
        <p>{{user.updated_at}}</p><br>
        {% endfor %}
    </div>
    <div>
        <h3>{{user.first_name}}'s Events</h3>
        {% for event in events %}
            {% if session['user_id'] == event.user_id %}
            <p><strong>{{event.name}}</strong></p>
            <p><strong>When: </strong>{{event.date}}</p>
            <p><strong>Where: </strong>{{event.location}}</p>
            <p><strong>Details: </strong>{{event.details}}</p>
            <p>
                <form action="/leave_event" method="post">
                    <input type="hidden" value="{{session['user_id']}}" name="user_id">
                    <input type="hidden" value="{{event.id}}" name="event_id">
                    <input type="submit" value="Leave">
                </form>
            </p>
            {% endif %}
        {% endfor %}
    </div>
</body>
</html>