<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Edit Profile</title>
</head>
<body class="container">
    <nav class="navbar navbar-expand-xl navbar-expand-xl">
        <div class="container-fluid">
            <img class="pawprint" src="static/pngwing.com.png">
            <a class="navbar-brand logo" href="/dashboard">PetPals</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link active indiefont" aria-current="page" href="/dashboard">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link indiefont" href="/profile">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link indiefont" href="/friends">Friends</a>
            </li>
            <li class="nav-item">
                <a class="nav-link indiefont" href="/event-list">Events</a>
            </li>
            <li class="nav-item">
                <a class="nav-link indiefont" href="/logout">Logout</a>
            </li>
            </ul>
        </div>
        </div>
    </nav>
    <div class="col-6 mx-auto">
            <form action="/user/{{user.id}}/update" method="post">
                <input type="hidden" name="user_id" value="{{user.id}}">
            <h3>{{user.first_name}} {{user.last_name}}, Edit Your Profile!</h3>
            <div class="form-group">
                <label for="first_name">First Name:</label>
                <input type="text" name="first_name" value="{{user.first_name}}" class="form-control">
            </div>
            <div class="form-group">
                <label for="last_name">Last Name:</label>
                <input type="text" name="last_name" value="{{user.last_name}}" class="form-control">
            </div>
            <a href="/delete/{{user.id}}">DELETE YOUR PROFILE</a>
    </div>
</body>
</html>