<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Friends</title>
</head>
<body class="container">
    <nav class="navbar navbar-expand-xl navbar-expand-xl">
        <div class="container-fluid">
            <img class="pawprint" src="static/pngwing.com.png">
            <a class="navbar-brand logo" href="/dashboard">PetPals</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link active indiefont" aria-current="page" href="/dashboard">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link indiefont" href="/profile">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link indiefont" href="/friends">Friends</a>
            </li>
            <li class="nav-item">
                <a class="nav-link indiefont" href="/event-list">Events</a>
            </li>
            <li class="nav-item">
                <a class="nav-link indiefont" href="/logout">Logout</a>
            </li>
            </ul>
        </div>
        </div>
    </nav>
    <div>
        <img src="" alt="">
        <h3><u>{{user.first_name}} {{user.last_name}}'s friends</u></h3>
    </div>
    <div>
        {% for friend in friends %}
        <ul>
            <li><img src="../static/avatar_img.jpeg" alt="" id="stockAvatar">
                {{user.friend.first_name}} {{user.friend.last_name}}</li>
        </ul>
        {% endfor %}
    </div>
</body>
</html>