<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register & Login</title>
</head>
<body>
<div>
    <h1>Pet Pals</h1>
</div>
<div>
    <h2>The most wholesome social media platform to exist</h2> 
    <p>PetPals is a social media platform for our pets to make friends! Find events and furry pals near you today!</p>   
</div>
    <div>
        <form action="/user/register" method="post">
            <h2 class="text-danger">Sign Up</h2>
            {% with messages = get_flashed_messages(category_filter=['register']) %}
                {% if messages %}
                <div class="alert alert-danger" role="alert">
                    <strong>INVALID</strong>
                    {% for message in messages %}
                    <p>{{message}}</p>
                    {% endfor %}
                </div>
                {% endif %}
            {% endwith %}
            <div class="form-group">
                <label for="first_name">First Name: </label>
                <input type="text" name="first_name" class="">
            </div>
            <div class="form-group">
                <label for="last_name">Last Name: </label>
                <input type="text" name="last_name" class="">
            </div>
            <div class="form-group">
                <label for="email">Email: </label>
                <input type="text" name="email" class="">
            </div>
            <div class="form-group">
                <label for="password">Password: </label>
                <input type="password" name="password" class="">
            </div>
            <div class="form-group">
                <label for="confirm">Confirm Password: </label>
                <input type="password" name="confirm" class="">
            </div>
            <div>
                <p>Use at least seven letters, one number, and one special character</p>
            </div>
            <div>
                <br>
                <input type="submit" value="Register">
            </div>
        </form>
        <form action="/login" method="post" class="">
            <h2 class="">Login</h2>
            {% with messages = get_flashed_messages(category_filter=['login']) %}
                {% if messages %}
                <div class="alert alert-danger" role="alert">
                    <strong>INVALID</strong>
                        {% for message in messages %}
                        <p>{{message}}</p>
                        {% endfor %}
                </div>
                {% endif %}
            {% endwith %}
            <div class="form-group">
                <label for="email">Email: </label>
                <input type="text" name="email" class="">
            </div>
            <div class="form-group">
                <label for="password">Password: </label>
                <input type="password" name="password" class="">
            </div>
            <div>
                <br>
                <input type="submit" value="Login" class="">
            </div>
        </form>
    </div>
</body>
</html>
</body>
</html>