/* all css */

* {
  margin: 0px;
  padding: 0px;
}

h1 {
  color: white;
  font-size:x-large;
}

h2 {
  color:white;
  flex-direction: column;
}

p {
  color:white;
}

.form-group {
  margin: auto;
}

.p2  {
  color:white;
}